/* Add a background color to navbar */
.topnav {
    background-color: rgb(41, 25, 99);
    overflow: hidden;
}

/* Style for links in navbar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Color of links on mouse hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #7f43a1;
    color: white;
}