<!DOCTYPE html>
<head>
    <link rel="stylesheet" href={{ url_for('static', filename='promptStyle.css') }}>
    <script src={{ url_for('static', filename='stickyBar.js') }}></script>
</head>
<body>
    <div class="topnav">
        <a href="/" class="active">Builds</a>
        <a href="/theme">Theme</a>
        <a href="/rooms">Rooms</a>
        <a href="/decor">Decor</a>
        <a href="/lore">Lore</a>
    </div>

    <div class="promptbody">
        <div class="title">
            <h1>Get Ideas for Builds</h1>
            <input type="submit" id="getBuilds" value="Give me a prompt!">
            <p id="prompt"></p>
        </div>
        <div class="hist">
            <h1>History</h1>
            <p id="history"></p>
        </div>
    </div>

</body>
