<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="static/promptStyle.css">
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Builds</a>
        <a href="/theme">Theme</a>
        <a href="/rooms">Rooms</a>
        <a href="/decor">Decor</a>
        <a href="/lore">Lore</a>
    </div>

    <div class="promptbody">
        <h1>Get Ideas for Builds</h1>
        <input type="submit" id="getPrompt" value="Give me a prompt!">
        <p id="prompt"></p>
    </div>

    <div class="recommends">
        <h1>History</h1>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
        <p id="history">~~~~filler text~~~~</p>
    </div>
</body>
