<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="static/promptStyle.css">
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="/">Builds</a>
        <a href="/theme">Theme</a>
        <a href="/rooms">Rooms</a>
        <a href="/decor">Decor</a>
        <a href="/lore" class="active">Lore</a>
    </div>

    <div class="promptbody">
        <div class="title">
            <h1>Get Ideas for World Lore</h1>
            <input type="submit" id="getLore" value="Give me a prompt!">
            <p id="prompt"></p>
        </div>
        <div class="hist">
            <h1>History</h1>
            <p id="history"></p>
        </div>
    </div>
</body>
